
# Ignore latex compilation artifacts.
latex/output/*
University-LaTex-Templates/*
University*

# *.sty
# *.cls
# *.clo
*.aux
*.log
#*.pdf

# Do not ignore files with these extensions:
!**.sh
!**.tex
!**.yaml
